@media(min-width:600px) {
    .top-navbar{
        box-shadow: 0 0 50px gray !important;
    } 

    
     #top-actions-section{

        display: flex  !important;
        align-items: center !important;
     }


     .users-list-item.active .user-list-arrow-icon{
        transform: rotate(180deg);

     }
     .users-list-item.active , .users-list-item.active .collapsible-header{
        background-color: rgba(196, 188, 188, 0.185);

     }

}

table.highlight > tbody > tr:hover {
   background-color: #bbdefb;
 }
 .container{
   width: 100%;
 }

 .add_user_modal_back{
    
   position: fixed;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   left: 0;
   top: 0;
   z-index: 999;
 }
 .add_user_modal{
   position: fixed;
   height: 70vh;
   background-color: white;
   z-index: 1000;
   left: 0;
   right: 0;
   bottom: -70vh;

 }
 .add_user_modal.show{
   box-shadow: 0 0 10px blue;
   bottom: 0;


 }
 